@charset "UTF-8";
/* CSS Document */

/*Remove this rule, this is only for demo purposes to make the boxes black with white text
The line height on the <p> tag gives each box a height value*/

p
{
	color: #fff;
	background: #aadad1;
	text-align: center;
	margin: 0;
}

/*basic reset*/
/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav
{ 
	margin: 0; 
	padding: 0; 
}	

img 
{ 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body 
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333;
}


/*a:link is for not visited(standard unclicked link), 
a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

a:link, a:visited 
{ 
 	text-decoration:none; 	
}

a:hover, a:active 
{ 
	text-decoration:none; 
}

/*hide elements from browser but show for doc outline*/

.hidden
{
	display: none;
}

/*Site Container*/ 
/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 920 + 20px + 20px (960px) so it fits on 1024x768 screens.*/

/*Header and Footer*/
.container 
{
	margin: 0 auto;
	width: 960px;
	background-color: #f5f1ee;
}

#topBar
{
	background-color: #81c8bb;
	height: 24px;
}

.mainHeader
{
	margin-top: 24px;
	margin-bottom: 35px;
	margin-right: 21px;
	margin-left: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#logo
{
	width: 140px;
	/*line-height: 165px;*/
}

.headerRight
{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 500px;
}

.socialMedia
{
	/*width: 140px;*/
	/*margin-left: auto;*/
	margin-bottom: 20px;
	/*line-height: 40px;*/
	align-self: flex-end;
}

.iconNav
{
	list-style-type: none;
	/*padding: 0;*/
}

.iconNav li
{
	display: inline;
	/*margin-right: 10px;*/
}





/*nov 25th we were trying to figure out the social media icons*/

#twitter/*, #facebook, #instagram*/
{
	width: 20px;
	height: 20px;
	background-color: #053e68;
	border-radius: 50%;
	margin-left: 15px;
}

.mainNav 
{
	width: 500px;
	line-height: 40px;
}

.mainFooter 
{
	padding-bottom: 70px;
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
  	background-color: #f5f1ee;
}

.footerNav 
{
	width: 500px;
	line-height: 40px;
	margin-top: 40px;
}

.copyRight 
{
	width: 250px;
	line-height: 48px;
	margin-top: 35px;
}

/*Home Page*/
.mainHome
{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-right: solid 1px #f5f1ee;
	border-left: solid 1px #f5f1ee;
}

.topBanner
{
	margin-top: 35px;
	margin-bottom: 40px;
	margin-right: auto;
	margin-left: auto;
	width: 920px;
	line-height: 250px;
}

.aboutLB
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 36px;
}

.aboutLBLeft, .aboutLBRight
{
	line-height: 382px;
	width: 440px;
}


/*Explore Desserts Page*/
.mainPosts
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	border-right: solid 1px #f5f1ee;
	border-left: solid 1px #f5f1ee;
	background-color: #fff;
}
.post1
{
	width: 410px;
	line-height: 635px;
	margin-top: 35px;
}

.post2
{
	width: 410px;
	line-height: 635px;
	margin-top: 35px;
}

.post3
{
	width: 410px;
	line-height: 635px;
	margin-top: 35px;
	margin-bottom: 35px;
}

.post4
{
	width: 410px;
	line-height: 635px;
	margin-top: 35px;
	margin-bottom: 35px;
}

/*Contact Page*/

.mainCon
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-right: solid 1px #f5f1ee;
	border-left: solid 1px #f5f1ee;
	background-color: #fff;
}
.contactUs
{
	width: 410px;
	line-height: 635px;
	margin-top: 35px;
	margin-bottom: 35px;
}

.LBInfo
{
	width: 410px;
	line-height: 635px;
	margin-top: 35px;
	margin-bottom: 35px;
}
